.modal-header
%h1 Sign In
= simple_form_for :session,
                  :class => "clearfix",
                  :url => sessions_path,
                  :remote => true do |f| 
  .modal-body
    %span.error= @error_message
    = f.input :email
    = f.input :password
  .modal-footer
    = f.submit "Sign in", :class => "btn btn-large btn-primary"

%p.pull-right 
  New user? 
  = link_to "Sign up now!", new_user_path, :remote => true
