%h1 
  Budget
%p= "Created on: #{@budget.created_at}"
%h1 Envelopes
%table.table.table-hover.table-bordered
  %thead
    %tr
      %th Category
      %th Name
      %th Starting Amount
      %th Additional Amount
      %th new amount
      -#TODO: Maybe use different table? Use children of denominations as header
      %th ---------
      %th Ones
      %th Fives
      %th Tens
      %th Twenties
    %tbody
      - @budget.envelopes.each do |e|
        %tr
          %td= e.category
          %td= e.name
          %td= e.current_amount
          %td= e.additional_amount
          %td= e.current_amount + e.additional_amount
          %td |
          %td= e.ones.count
          %td= e.fives.count
          %td= e.tens.count
          %td= e.twenties.count  
