-# Adapted from http://arubystory.blogspot.com/2013/12/rails-todo-tutorial-part-two.html
.modal-header
  %h1 
    = envelope.new_record? ? "New Envelope" : "Edit '#{envelope.name}'"
= simple_form_for envelope, :class => "clearfix", :remote => true do |f|
  .modal-body
    = f.input :category
    = f.input :name
    = f.input :current_amount, :label => "Current amount (without \"$\")"
    = f.input :additional_amount, :label => "Additional amount (without \"$\")"
  .modal-footer
    = f.submit "Save", :class => "btn btn-primary"
