!!!
%html
  %head
    %title Count the Cash!
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags 
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          #logo.pull-left Count the Cash!
          .nav
            %ul.nav.pull-right
            - if !signed_in?
              %li= link_to "Sign in", new_session_path, :remote => true
            - else
              %li= link_to "New Envelope", new_envelope_path, :remote =>  true
              %li= link_to "Sign out", signout_path,
                  :remote => true, :method => "delete"
    .container
      = yield 

